﻿<div class="home-header">
    <div class="home-header-text">StrongWeak</div>
    <div class="home-heder-circle-container">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
    </div>
</div>
<div class="chart-container" show-charts>
    <div class="chart-item-container">
        <div id="M15" class="chart-item" style="height: 200px;"></div>
    </div>
    <div class="chart-item-container" >
        <div id="H1" class="chart-item" style="height: 200px;"></div>
    </div>
    <div class="chart-item-container" >
        <div id="Aggregate" class="chart-item" style="height: 200px;"></div>
    </div>
    <div class="chart-item-container">
        <div id="H4" class="chart-item" style="height: 200px;"></div>
    </div>
    <div class="chart-item-container">
        <div id="D1" class="chart-item" style="height: 200px;"></div>
    </div>
    <div class="chart-item-container">
        <table>
            <thead>
                <tr>
                    <th>Time Frame</th>
                    <th>Strongest</th>
                    <th>Weakest</th>
                    <th>Strong-Weak Pair</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.tableData">
                    <td>{{item.TimeFrame}}</td>
                    <td>{{item.Strongest}}</td>
                    <td>{{item.Weakest}}</td>
                    <td>{{item.StrongWeakPair}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
