﻿body{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.home-header {
    width: 100%;
    min-width: 300px;
    height: 25px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;

    .home-header-text {
        font-size: 20px;
        color: gray;
    }

    .home-heder-circle-container {
        text-align: right;
    }

    div {
        width: 50%;
        height: 25px;
        line-height: 25px;

        .circle {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid grey;
        }

        .circle:last-child {
            border-color: deepskyblue;
        }
    }
}

.chart-container {
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;

    .chart-item-container {
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        width: 30%;
        min-width: 300px;
        margin-bottom: 20px;
    }

    .chart-item-container:last-child {
        border-radius: 0;
        padding: 0;
        width: unquote("calc(30% + 20px)");
        min-width: 320px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;

        table {
            border: 2px solid black;
            width: 100%;
            border-collapse: collapse;

            td, th {
                padding: 10px 0;
                border: 1px solid black;
            }
        }
    }
}
